.loginView {
    background-color: var(--var-color-primary);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.loginViewLogo {
    width: 50%;
    margin: 10% 25% 7.5% 25%;
}

.loginViewAppTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
}