@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --var-color-primary: #4285f4;
    --var-color-primary-alt: #3a6cbe;

    --var-color-error: #e4161b;
    --var-color-warning: #ffc40c;
    --var-color-success: #00d274;

    --var-color-dark: #363636;

    --var-color-red: #e74424;
    --var-color-lightGrey: #cacaca;

    --var-border-radius: 4px;
}´
*:focus {
    outline: none !important;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap');
/*
$color-primary: #4285f4;
$color-primary-alt: #3a6cbe;
$color-secondary: #50be5e;
$color-secondary-alt: #78e487;
$color-alternative: #00d1b2;
$color-alternative-alt: #03af95;
$color-alternative-2: #cc0205;
$color-alternative-2-alt: #ce1215;

$color-info: #0096da;
$color-info-alt: #0489c7;
$color-info-transparent: #caeaf8;
$color-error: #e4161b;
$color-error-alt: #fd224e;
$color-error-transparent: #ffd4d4;
$color-warning: #ffc40c;
$color-warning-alt: #ffb109;
$color-warning-transparent: #fff4ce;
$color-success: #00d274;
$color-success-alt: #05bb69;
$color-success-transparent: #bff7e3;


$color-dark: #363636;
$color-dark-alt: #292929;
$color-light: #f5f5f5;
$color-light-alt: #ececec;
$color-grey: #bababa;
$color-grey-alt: #a0a0a0;

//
// Global style configuration
//
$config-border-radius: 3px;
$config-font: 'Open Sans', sans-serif;
$config-fontAlt: 'Roboto', sans-serif;
$config-borderWidth: 1px;
$config-formFontSize: 12pt;

//
// UI configuration
//

// Top navigation
$config-topnav-height: 40px;
// Bottom navigation
$config-bottomnav-height: 40px;*/